@(deployments: List[NodeConfig])

@import helper._

@main("Todo list") {
	<h1>main content</h1>
	testing stuff
	
	@form(action = routes.Application.uploadDataFile, 'enctype -> "multipart/form-data") {
	    <input type="file" name="Data File">
	    <p>
	        <input type="submit">
	    </p>
	}
	
	@if(deployments.size()==0) {
		no data
	} else {
		<table>
		<th>UID</th><th>Name</th><th>Sensors</th>
		@for( d <- deployments) {
			<tr>
			<td>@d.deviceUid</td>
			<td>@d.name</td>
			<td>
				<ul>
				@for( s <- d.sensorConfigs ) {
					<li>
						@if(s.name=="" || s.name==null) {
							@s.className
						} else {
							@s.name
						}
					</li>
				}
				</ul>
			</td>
			</tr>
		}
		</table>
	}

	
}