@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
    	<div id="top-nav">
    		<b>aaits</b> | <small>arduino-andoid integrated telemonitoring system</small>
    	</div>
    	
    	
    	
    	<div id="content">
    	
			<div id="header">
				<div id="menu">
					<ul>
						@getMenuItem(routes.Application.index.toString(),"Home")
						@getMenuItem(routes.Nodes.listNodeConfig.toString(),"Data")
						@getMenuItem(routes.Nodes.list.toString(),"Nodes")
						<li><a href="#">Sensors</a></li>
					</ul>
				</div>
			</div>
			
			<div id="main_content">
	    		@content
	    	</div>
	    	
	    	<div id="footer">
	    		<small>copyright notice</small>
	    	</div>
    	</div>
    </body>
</html>

@getMenuItem(link:String, title:String)= @{
	def rqst = request().path().toString().toLowerCase().split("/");
	def lnk  = link.toLowerCase().split("/");
	
	def r = if(rqst.length>0) 1 else 0;
	def l = if(lnk.length>0)  1 else 0;
	
	def xor(x: Boolean, y: Boolean) = (x || y) && !(x || y);
	var cssClass = "";
	
	if( (r==0 && l==0) || (r>0 && l>0 && rqst(r).equals(lnk(l)))) {
		cssClass = "class=active"
	}
	Html("<li "+cssClass+" ><a href='"+link+"'>"+title+"</a></li>")
}