html {
	background: none;
}

body {
	padding: 0;
	background: #fafafa;
	height:100%;
}

#top-nav {
	width:100%;
	background: #333;
	color:#fafafa;
	margin-bottom:20px;
	padding: 5px 10px;
}

#content {
	max-width:900px;
	margin:auto;
	min-height:100%;
	margin-bottom: 20px;
}

#footer {
	clear: both;
	float:none;
	width: 100%;
}

#menu ul {
	list-style: none;
	font-size: 110%;
	overflow:auto;
	z-index: 102;
	margin-bottom: -1px;
	margin-left: 0;
}

#menu ul li {
	border-bottom: none;
	float: left;
	background: #eee;
}

#menu ul li:hover {
	background: #DEE7EC;
}

#menu ul li.active {
	background: #fff;
	border-bottom: 1px solid #fff;
}

#menu ul li a {
	border: 1px solid #DFDFDF;
	color: #000;
	padding: 10px 15px;
	display:block;
	height: 40px;
}

#menu ul li.active a{
	border-bottom: none;
	font-weight: bold;
}

/***********/
#main_content {
	padding: 15px 15px 30px 30px;
	background: white;
	max-width: 900px;
	margin: 0 auto 0;
	border: 1px solid #DFDFDF;
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	overflow: auto;
}
/**********/



table th {
	padding: 3px;
	background-color: #DEE7EC;
}

.col_75 {
	float:left;
	width:75%;
}

.col_66{
	float: left;
	width: 66.66%;
}

.col_50 {
	float:left;
	width:50%;
}

.col_33 {
	float:left;
	width: 33.33%;
}

.col_25 {
	float: left;
	width: 25%;
}

tr td.links {
	padding:0
}

tr td.links ul{
	list-style:none;
	margin: 0;
}

tr td.links a{
	display:block;
	width:100%;
	height:32px;
	background: url(../images/btn_bg.png);
	color: #fff;
	font-size:14px;
	text-align:center;
	padding-top:10px;
}

/*********  TEXTS ************/
small {
	font-size:90%;
}

.beforeHeader {
	float:right;
}

.title {
	font-size: 70px;
	float:right;
}

.subtitle {
	font-size: 12px;
	float:right;
}
/*********************/

dd {
	margin-bottom: 10px;
}

#chart_wrap {
	position:relative;
	min-height:500px;
}

#chart_veil {
	position: absolute;
	top: 34px;
	left: 33%;
	width: 33%;
	min-width: 100px;
	height: 30px;
	text-align: center;
	background: white;
	border: 1px solid #888;
	border-top: none;
	z-index: 10;
}

#chart_veil img {
	vertical-align: middle;
}

.plot_window {
	border: 2px solid #DEE7EC;
}

.plot_toolbar {
	padding:5px;
	background: #DEE7EC;
	min-height: 32px;
}

.plot_toolbar ul {
	list-style: none;
	margin: 0px;
}

.plot_toolbar ul li {
	float: left;
	margin-right:10px;
}

.plot_toolbar ul li.separator {
	background: #000;
	width:1px;
	height:32px;
}

.tools_extension {
	margin: 10px;
	display:block;
	clear:both;
	background: #eee;
	overflow:hidden;
}

.tools_extension ul li {
	float: none;
}

a.col_50, a.col_33{
	text-align:center;
	background: url(../images/btn_bg.png);
	padding: 10px 0;
	margin: 0 -1px;
	border-left: 1px solid #333;
	color: #fff;
}


.filters div:after {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  font-size: 0;
}

a.ok {
	background: url(../images/btn_bg_ok.png);
}

a.cancel {
	background: url(../images/btn_bg_cancel.png);
}

dd.info {
	position: relative;
	top: -32px;
	left: 350px;
	font-size: 10px;
	display:inline;
}